# Security (NEVER UPLOAD THESE)
.env
airflow.cfg
airflow.cfg.backup

# Virtual Environments
myenv/
venv/
__pycache__/
*.pyc

# Data & Databases (Don't upload test data)
*.json
airflow.db
processed_spark_news/
spark_checkpoints/

# Logs
logs/
*.log
